Package: com.yourcompany.iossecurity
Name: iossecurity
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: pandazheng
Author: pandazheng
Section: Tweaks
Version: 0.0.1-1
Installed-Size: 16
